**.txt
**.pdf
**.gml
**.csv
lab 3/download.tsv.dbpedia-similar/dbpedia-similar/README.dbpedia-similar
lab 3/download.tsv.dbpedia-similar/dbpedia-similar/meta.dbpedia-similar
lab 3/download.tsv.dbpedia-similar/dbpedia-similar/out.dbpedia-similar
lab 3/download.tsv.dbpedia-similar.tar.bz2
